
h1,h2,h3,h4 {
    font-family: 'Merriweather', serif;
}

p,h6, h5 {
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    background-color:lightseagreen
}

/* .panel {
    background-color:lightseagreen
} */

.panel-primary {
    border-color:darkgray
}

.panel-primary>.panel-heading {
    background-color:darkgray
}   